<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Atypik Home{% endblock %}</title>

        {% block stylesheets %}
            <link href="css\style.css" rel="stylesheet">
            <link href="css/bootstrap.css" rel="stylesheet">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block fonts %}
            <!-- Google Web Fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">  

            <!-- Icon Font Stylesheet -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}

        {% block javascripts %}
            
			
            {{ encore_entry_script_tags('app') }}
        {% endblock %}


    </head>
  
    <body>
        <div class="container-fluid bg-white p-0">
            {% block header %}
                <!-- Début du Header -->
                <div class="container-fluid bg-dark px-0">
                    <div class="row gx-0">
                        <div class="col-lg-3 bg-dark d-none d-lg-block">
                            <a href="{{ path('homepage') }}" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                                <h1 class="display-5 text-light m-0 kalam">Atypik Home</h1>
                            </a>
                        </div>
                        <div class="col-lg-9">
                            <div class="row gx-0 bg-white d-none d-lg-flex">
                                <div class="col-lg-7 px-5 text-start">
                                    <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                                        <i class="fa fa-envelope text-success me-2"></i>
                                        <p class="mb-0">info@atypik.com</p>
                                    </div>
                                    <div class="h-100 d-inline-flex align-items-center py-2">
                                        <i class="fa fa-phone-alt text-success me-2"></i>
                                        <p class="mb-0">0800 700 600</p>
                                    </div>
                                </div>
                                <div class="col-lg-5 px-5 text-end">
                                    <div class="d-inline-flex align-items-center py-2">
                                        <a class="me-3 text-primary" href=""><i class="fab fa-facebook-f"></i></a>
                                        <a class="me-3 text-primary" href=""><i class="fab fa-twitter"></i></a>
                                        <a class="me-3 text-primary" href=""><i class="fab fa-linkedin-in"></i></a>
                                        <a class="me-3 text-danger" href=""><i class="fab fa-instagram"></i></a>
                                        <a class="text-danger" href=""><i class="fab fa-youtube "></i></a>
                                    </div>
                                </div>
                            </div>
                            <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                                <a href="index.html" class="navbar-brand d-block d-lg-none">
                                    <h1 class="m-0 text-light text-uppercase kalam">Atypik Home</h1>
                                </a>
                                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                    <div class="navbar-nav mr-auto py-0">
                                        <a href="index.html" class="nav-item nav-link active">Home</a>
                                        <a href="about.html" class="nav-item nav-link">About</a>
                                        <a href="service.html" class="nav-item nav-link">Services</a>
                                        <a href="room.html" class="nav-item nav-link">Rooms</a>
                                        <div class="nav-item dropdown">

                                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                                            <div class="dropdown-menu rounded-0 m-0">
                                                <a href="booking.html" class="dropdown-item">Booking</a>
                                                <a href="team.html" class="dropdown-item">Our Team</a>
                                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                            </div>
                                        </div>
                                        <a href="contact.html" class="nav-item nav-link">Contact</a>
                                    </div>
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <div class="nav-item dropdown btn btn-success rounded-0 py-4 px-mx-1 d-none d-lg-block">
                                        <a class="nav-link dropdown-toggle text-decoration-none text-light" data-bs-toggle="dropdown"><i class="bi bi-person ms-3"></i> {{ app.user.nickname }}</a>
                                        <div class="dropdown-menu rounded-0 m-0">
                                            <a href="" class="dropdown-item">Profil</a>
                                            <a href="" class="dropdown-item">Mes réservations</a>
                                            {% if is_granted('ROLE_ADMIN') %}
                                            <a href="{{ path('accueilbo') }}" class="dropdown-item">Back Office</a>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                    <a href="/login" class="btn btn-success rounded-0 py-4 px-mx-1 d-none d-lg-block text-capitalize">
                                        <i class="bi bi-person ms-3"></i> 
                                        Mon compte
                                    </a>  
                                    {% endif %}
                                    
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Fin du Header -->
            {% endblock %}


            {% block body %}
            {% endblock %}
            
            {% block footer %}
                <!-- Newsletter Start -->
                <div class="container newsletter mt-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 border rounded p-1">
                            <div class="border rounded text-center p-1">
                                <div class="bg-white rounded text-center p-5">
                                    <h4 class="mb-4">Abonnez vous à la <span class="text-success text-uppercase">Newsletter</span></h4>
                                    <div class="position-relative mx-auto" style="max-width: 400px;">
                                        <input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Saisissez votre email">
                                        <button type="button" class="btn btn-success py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Envoyer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Newsletter Start -->
                

                <!-- Footer Start -->
                <div class="container-fluid bg-dark text-light footer">
                    <div class="container pb-5">
                        <div class="row g-5 d-flex justify-content-around">
                            <div class="col-md-6 col-lg-4">
                                <div class="bg-success rounded p-4">
                                    <a href="index.html" class="text-decoration-none"><h1 class="text-white text-uppercase mb-3">Atypik Home</h1></a>
                                    <p class="text-white mb-0">
                                        Évadez-vous de la routine quotidienne et vivez une expérience unique en réservant un logement insolite. Mieux, choisissez Atypik Home!!
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <h6 class="section-title text-start text-success text-uppercase mb-4">Contact</h6>
                                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 rue, Paris, FRANCE</p>
                                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0800 700 600</p>
                                <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@atypik.com</p>
                                <div class="d-flex pt-2">
                                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <!--<div class="row gy-5 gx-4">-->
                                    <!--<div class="col-md-6">-->
                                        <h6 class="section-title text-start text-success text-uppercase mb-4">La société</h6>
                                        <a class="btn btn-link" href="">Qui sommes-nous?</a>
                                        <a class="btn btn-link" href="">Nous contacter</a>
                                        <a class="btn btn-link" href="">Mentions légales</a>
                                        <a class="btn btn-link" href="">Conditions générales de vente</a>
                                    <!--</div>-->
                                    <!--<div class="col-md-6">
                                        <h6 class="section-title text-start text-success text-uppercase mb-4">Services</h6>
                                        <a class="btn btn-link" href="">Food & Restaurant</a>
                                        <a class="btn btn-link" href="">Spa & Fitness</a>
                                        <a class="btn btn-link" href="">Sports & Gaming</a>
                                        <a class="btn btn-link" href="">Event & Party</a>
                                        <a class="btn btn-link" href="">GYM & Yoga</a>
                                    </div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="copyright">
                            <div class="row">
                                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                                    &copy; <a class="border-bottom" href="#">Atypik Home</a>, tous droits réservés. Designed By Thomas Gaïnetdinoff
                                </div>
                                <div class="col-md-6 text-center text-md-end">
                                    <div class="footer-menu">
                                        <a href="">Accueil</a>
                                        <a href="">Cookies</a>
                                        <a href="">Aide</a>
                                        <a href="">FAQ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer End -->


                <!-- Back to Top -->
                <a href="#" class="btn btn-lg btn-success btn-lg-square" id="btn-back-to-top"><i class="bi bi-arrow-up"></i></a>

            {% endblock %}

        </div>
        
        <script
				src="https://code.jquery.com/jquery-3.6.4.min.js"
                integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
                crossorigin="anonymous">
		</script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
